.reyou-iframe {
    width: 1538px !important;
    /* standard 13" macbook width */
    height: 900px !important;
    min-height: 900px;
    min-width: 1538px;
    transform: scale(0.65);
    transform-origin: top center;
    border-radius: 12px;
    box-shadow: 0 20px 50px -10px rgba(0, 0, 0, 0.15);
    z-index: 10;
    position: relative;
    left: 50%;
    translate: -50% 0;
    /* Center horizontally explicitly */
    margin-top: 20px;
    border: none;
    display: block;
}